{{ block "attack" . }}
<!-- Attack Templates and Preview -->
<div class="container" style="padding-top: 2.5%;">
  <!-- Template Column -->
  <div class="row">
    <div class="col-5">
      <h2>Attack Templates</h2>
      <br>
      <p>Select a template: </p>
      <!-- {{ range $k, $v := . }}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" value="Sick Family"
          onClick="changeSrc()">
        <label class="form-check-label" for="flexRadioDefault2"> {{ $k }} </label>
      </div>
      {{end}} -->
      <div class="form-check">
        <input class="form-check-input" type="radio" id="rad1" value="Double Tap"
          onClick="changeSrc()">
        <label class="form-check-label" for="rad1">
          Double Tap
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="rad2" value="Sick Family"
          onClick="changeSrc()">
        <label class="form-check-label" for="rad2">
          Sick Family
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="rad3" value="Sign in"
          onClick="changeSrc()">
        <label class="form-check-label" for="rad3">
          Sign in
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="rad4" value="You Won"
          onClick="changeSrc()">
        <label class="form-check-label" for="rad4">
          You Won
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="rad5" value="Flu Season"
          onClick="changeSrc()" checked>
        <label class="form-check-label" for="rad5">
          Flu Season (Recommended)
        </label>
      </div>
      <br>
      <p>If you have selected a template click the button to move forward! </p>
      <button id="flu-btn" type="button" class="btn btn-secondary"> Confirm Template</button>
      <br>
      <br>
    </div>
    <!-- Preview Column -->
    
    <div class="col-7">
      <h2>Preview</h2>
      <br />

      <div class="phone-barrier" id="rad5">
        <div class="imessage">
          <!-- <p class="from-them"> kfjanskdfaskdjfa akjsdfksdanfknsdfkn</p> -->
          <!-- <p class="from-me">Lorem ipsum dolor sit amet...</p> -->
          <p class="from-them" id="flexRadioDefault5" style="max-width: 280px;">
            It is flu season, get your flu shot. If you are eligible for an updated COVID 19 booster,
            you can get your flu shot at the same time. Visit <a href="#">covid.gov.astia-smish.ml/finder</a> to find 
            a convenient location near you or Call us: NJDOH COVID 19 Hotline, <a href="#">855-568-0545</a>. Para recibir
            este mensaje en espanol esponda 1. Reply STOP to opt out
          </p>
          <!-- <p class="from-them">It&rsquo;s more like &ldquo;this is an earthquake. Check the Internet. Yup. Earthquake. This is the size. This is the epicenter. Check social media. Make sure the East Coast knows I&rsquo;m alive. Okay, try and go back to sleep.&rdquo;</p> -->
          <!-- <p class="from-me no-tail emoji">👍🏻</p> -->
          <!-- <p class="from-me">Glad you&rsquo;re safe</p> -->
        </div>
      </div>
    </div>
  </div>
  <!-- START of Emulation -->
  <div>
</div>
{{end}}

{{block "emulatesite" . }}
<div class="row">
  <br>
  <h2>Site Preview</h2>
  <br>
  <div class="col-4">
    <p>Bruh</p>
  </div>
  <div class="col-8">
    <!-- START of MANAGE -->
    <div style="background: #20300a;">
      <p>Yes</p>
    </div>
    <!-- END of MANAGE -->
  </div>
</div>
<!-- End of Emulation -->
</div>
{{end}}