{{ block "targets" .}}
<div class="container">
  <!-- Prompt for input from attacker -->
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <br>
        <label for="formFileSm" class="form-label"><b>Choose a csv/xlsx file containing name and phone
            number:</b></label>
        <br>
        <br>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
      </div>
    </div>
    <div class="col"></div>
  </div>
  <br>
  <!-- </div> -->

  <div class="row text-center" id="ViewSwitcher" style="margin: 2rem 0rem;">
    <div class="col">
      <h3>View Switcher</h3>
    </div>
    <div class="col">
        <input type="checkbox" id="checkbox" class="switch__checkbox" /> 
        <label class="switch__label" for="checkbox">
          <span id="list">List</span>
          <span id="graph">Graph Theory</span>
        </label>
    </div>
  </div>

  <div class="row" id="target-list">
    <h2>Targets</h2>
    <div class="col mb-3">
        <table class="table table-striped table-hover">
          <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Position</th>
            <th>Email</th>
            <th>Reports to</th>
          </tr>
          {{range .}}
          <tr>
            <td>{{.Fullname}}</td>
            <td>{{.Number}}</td>
            <td>{{.Position}}</td>
            <td>{{.Email}}</td>
            <td>{{.Fullname}}</td>
          </tr>
          {{end}}

        </table>
    </div>
  </div>

  <div class="row" id="target-graph" >
    <!-- <div id="cy" style="width: 800px;height: 800px; display: block;"></div>   -->
    <div style="border-style: dotted; margin-left: 25%; margin-right: 25%;" id="cy"></div>  
  </div>

  <script>
    let cy = cytoscape({
      container: document.getElementById('cy'),
      
      elements: [],
      selectable: true,

      // ready: function() {
      //   window.cy = this;
      // },

      // boxSelectionEnabled: false,
      // autounselectify: true,

      style: [ // the stylesheet for the graph
        {
          selector: 'node',
          style: {
            'background-color': '#69e',
            'label': 'data(id)',
          }
        },
      
        {
          selector: 'edge',
          style: {
            // 'width': 1,
            'line-color': '#369',
            'target-arrow-color': '#369',
            'target-arrow-shape': 'triangle',
            'label': 'data(label)',
            'font-size': '14px',
            'color': '#777'
          }
        }
      ],
      
      style: cytoscape.stylesheet()
      .selector('edge')
          .css({
            // 'width': 3,
            'line-color': '#369',
            'target-arrow-color': '#369',
            'target-arrow-shape': 'triangle',
            'label': 'data(label)',
            'font-size': '14px',
            'color': '#777'
          })
        .selector('node')
          .css({
            'content': 'data(name)',
            'text-valign': 'center',
            'color': 'white',
            'text-outline-width': 2,
            'text-outline-color': '#888',
            'background-color': '#888'
          })
        .selector(':selected')
          .css({
            'background-color': 'black',
            'line-color': 'black',
            'target-arrow-color': 'black',
            'source-arrow-color': 'black',
            'text-outline-color': 'black'
          }),
      
      layout: {
        // name: 'grid',
        name: 'dagre',
        // rows: 1,
      }
    
    });

    // let options = {
    //   innerHeight: 300,
    //   innerWidth: 300
    // }

    // cy.layout( options );
    cy.add([
        // { group: 'nodes',data: { id: 'n1', name:'Daren' }, position: { x: 50, y: 200 } },
        // { group: 'nodes',data: { id: 'n2', name:'Stacy' }, position: { x: 131, y: 226 } },
        // { group: 'nodes',data: { id: 'n3', name:'Kevin' }, position: { x: 128, y: 143 } },
        // { group: 'nodes',data: { id: 'n4', name:'Frank' }, position: { x: 249, y: 142 } },
        // { group: 'nodes',data: { id: 'n5', name:'Polta' }, position: { x: 191, y: 62 } },
        // { group: 'nodes',data: { id: 'n6', name:'Geoga' }, position: { x: 66, y: 83 } },
        { group: 'nodes',data: { id: 'n1', name:'Daren' }, position: {x: Math.random()*300,y: Math.random()*300 } },
        { group: 'nodes',data: { id: 'n2', name:'Stacy' }, position: {x: Math.random()*300,y: Math.random()*300} },
        { group: 'nodes',data: { id: 'n3', name:'Kevin' }, position: {x: Math.random()*300,y: Math.random()*300} },
        { group: 'nodes',data: { id: 'n4', name:'Frank' }, position: {x: Math.random()*300,y: Math.random()*300} },
        { group: 'nodes',data: { id: 'n5', name:'Polta' }, position: {x: Math.random()*300,y: Math.random()*300} },
        { group: 'nodes',data: { id: 'n6', name:'Geoga' }, position: {x: Math.random()*300,y: Math.random()*300} },
        { group: 'edges',data: { id: 'e0', source: 'n1', target: 'n2', label: 7 } },
        { group: 'edges',data: { id: 'e1', source: 'n2', target: 'n3', label: 10 } },
        { group: 'edges',data: { id: 'e2', source: 'n1', target: 'n6', label: 14 } },
        { group: 'edges',data: { id: 'e3', source: 'n1', target: 'n3', label: 9 } },
        { group: 'edges',data: { id: 'e4', source: 'n2', target: 'n4', label: 15 } },
        { group: 'edges',data: { id: 'e5', source: 'n3', target: 'n4', label: 11 } },
        { group: 'edges',data: { id: 'e6', source: 'n3', target: 'n6', label: 2 } },
        { group: 'edges',data: { id: 'e7', source: 'n6', target: 'n5', label: 9 } },  
        { group: 'edges',data: { id: 'e8', source: 'n5', target: 'n4', label: 6 } },
    ]);
    cy.on('click', 'node', function(evt){
      var node = evt.target; 
      console.clear()
      console.log( node.position() );
    });

    // var dijkstra = cy.elements().dijkstra('#n1', function(edge){
    //   return edge.data('label');
    // });
    // console.log( dijkstra.pathTo( cy.$('#n5') ));
    // console.log( dijkstra.distanceTo( cy.$('#n5') ));
    // var p = dijkstra.pathTo( cy.$('#n5') );
    // // for(let i = 0; i < p.length; i++ ){
    // //   console.log(i,p[i]._private.data.id);
    // //   cy.$('#'+p[i]._private.data.id).select();
    // // }
    
    // let i = 0, tick = 1000;
    
    // (function(){
    //   if( i <  p.length){   
    //     cy.$('#'+p[i]._private.data.id).select();
    //     i++;
    //     setTimeout(arguments.callee,tick)
    //   }
    // })()
  </script>

  <!-- <script>
     $(function () {
      $("#graph").click(function () {
        if($(this).is(":checked")) {
          $("#target-graph").show();
          $("#target-list").hide();
        } 
      })
      $("#list").click(function () {
        if($(this).is(":checked")) {
          $("#target-graph").hide();
          $("#target-list").show();
        }
      })
    })

  </script> -->
</div>

{{end}}